<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Surface Geology</title>
		<style>
			/* Always set the map height explicitly to define the size of the div
			 * element that contains the map. */
			#map {
			  height: 450px;
			  width: 1000px;
			  margin-right:auto;
			}
			/* Optional: Makes the sample page fill the window. */
			html, body {
			  height: 100%;
			  margin: 10;
			  padding: 0;
			}
		</style>
	</head>
	<body>
		
		<script>
			var addListenersOnPolygon = function(polygon) {
				google.maps.event.addListener(polygon, 'click', function (event) {
				alert(all_alerts[polygon.indexID]);
				});  
			}
			
			function initMap() {
				console.log("Initalizing map")
				var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 2,
				center: {lat: 0, lng: 0},
				mapTypeId: 'hybrid'
				});
				
				var colors = ['#FF0000']
				var shapeCoords = [];
				var r = 0;
				{% if color_option == "Uniform Color" %}
				  colors = ['#FF0000']
				  console.log("Using uniform colors")
				{% elif color_option == "Ordered Colors" or color_option == "Random Colors"%}
				  colors = ['#800080','#0000FF','#008000','#FFFF00','#FF0000','#008080','#FFA500', '#FF00FF', '#00FFFF'];
				  {% if color_option == "Ordered Colors" %}
				    console.log("Using ordered colors")
				  {% else %}
				    console.log("Using random colors")
				  {% endif %}
				{% endif %}
				console.log("Loading in all polygons")
				var counter = 0;
				all_alerts = [];
				{% for x in geology_dict %}
				  shapeCoords = []
				  {% for cord in geology_dict[x]["coordinates"] %} 
				    lat  = {{cord[1]}};
				    lon  = {{cord[0]}};
				    var new_cor = ({lat: lat, lng: lon });
				    shapeCoords.push(new_cor);
				  {% endfor %}
				  new_alert = "";
				  {% for attribute in geology_dict[x] %}
				    {% if attribute != "coordinates" and attribute != "color" %}
				    new_alert+='{{attribute}} : {{geology_dict[x][attribute]}}\n';
				    {% endif %}
				  {% endfor %}
				  all_alerts.push(new_alert);
				  var new_area = new google.maps.Polygon({
				    paths: shapeCoords,
				    strokeColor: colors[r],
				    strokeOpacity: 0.8,
				    strokeWeight: 2,
				    fillColor: colors[r],
				    fillOpacity: 0.35,
				    indexID: counter
				  });
				  <!--Based on previous entry the next color will be picked if not uniform-->
				  {% if color_option == "Ordered Colors" %}
				    if (r == 8) r = 0;
				    else r+=1;
				  {% elif color_option == "Random Colors"%}
				    r = Math.floor(Math.random() * 7);
				  {%endif%}
				  new_area.setMap(map);
				  addListenersOnPolygon(new_area);
				  counter++;
				{% endfor %}
			}
			
		</script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3MM6bjobJMEqlk7JQCrNfkAM5ATWpQO8&callback=initMap">
		</script>
		
		<div id="map" style="float:right;width: 1000px;height: 450px;"></div>
		
		<div>
			<p>Start by selecting then submitting a file:</p>
		</div>

		<form action="/file_input/" method = "post">
			<input type="file" id="df" name="datafile" size="40">
			<input type="submit" name="submit_json" value="Submit Json">
		</form>
		
		
		<form action="/sort/" method = "post">
			{% if toggle == True: %}
				{% for attribute in attributes.keys()%}
					{% if (attributes.sinter(attribute)|length) < 100 %}
						<script>
							document.{{attribute}}=function(id){
							    document.getElementById(id).style.display='';
							}
						</script>
					{%endif%}
				{%endfor%}
			{%endif%}
			<p>There is now a total of {{current_polygons}} out of {{total_polygons}} polygons loaded</p>
			<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
			Select an attribute below, then pick a sub-attribute, then press submit:<br>
			If the selected attribute has less than 100 unique sub-attributes, a dropwndown box will appear that you can select<br>
			Alternatively you can fill in the input box<br>
			{% if toggle == True: %}
				<select onchange="document[value](value)" name = "attribute">
				{% for attribute in attributes.keys()|sort %}
					<option value="{{ attribute }}">{{ attribute }}</option>
				{% endfor %} 
				</select>
			
				{% for attribute in attributes.keys()%}
					{% if (attributes.sinter(attribute)|length) < 100 %}
						<select onchange="document[value](value)" id={{attribute}} name={{attribute}}  style="display:none;">
							{% for sub_attribute in attributes.sinter(attribute)|sort %}
								<option value="{{sub_attribute}}">{{sub_attribute}}</option>
							{% endfor %}
						</select>
					{%endif%}
				{% endfor %}
			{%endif%}
			<br><input type="text" name = "submit_sub_attribute_text">
			<input type="submit" name="sub_attribute_generate" value="Submit Attribute and Sub-Attribute">

		</form>
		
		<div>
			<p>Sorted {{times}} so far</p>
			<p>Here are your sort orders in order:<p>
			{% for attribute in search_terms.keys() %}
				<p>Attribute: {{attribute}}, Sub-Attribute: {{search_terms.get(attribute)}}<p>
			{% endfor %}	
		</div>
		
		<form action="/generate_map/" method="post">
			<p>Before generating a map, select a color selection method below:</p>
			<select name = "color">
				<option value="Uniform Color">Uniform</option>
				<option value="Ordered Colors">Ordered</option>
				<option value="Random Colors">Random</option>
			</select>
			<input type="submit" name="map" value="Submit Map">
		</form>
		
		<form action="/reset/"method="post">
			<input type="submit" name="reset" value="Reset Search Terms">
		</form>
		
	
	</body>
</html>